.ChatterBox_btn_dark {
    background-color: #2b3c58;
    color: white;
    font-size: 30px;
}

    .ChatterBox_btn_dark:hover {
        background-color: #3a4f6a;
        color: white;
    }

    .ChatterBox_btn_dark:active {
        background-color: #2b3c58;
        border-color: transparent;
        box-shadow: none;
    }

.ChatterBox_btn_light {
    background-color: white;
    border-color: #ced4da;
    color: black;
    font-size: 18px;
}

    .ChatterBox_btn_light:hover {
        background-color: whitesmoke;
        border-color: #ced4da;
        color: black;
    }

    .ChatterBox_btn_light:active {
        background-color: whitesmoke;
        color: black;
    }

.ChatterBox_btn_icon {
    color: black;
    font-size: 25px;
    border: none;
    background: none;
}

    .ChatterBox_btn_icon:hover {
        color: black;
    }

    .ChatterBox_btn_icon:active {
        color: black;
    }

.ChatterBox_link {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

    .ChatterBox_link:hover {
        color: white;
    }

.ChatterBox_card {
    margin: 0 150px;
    background-color: #24344d;
    padding: 0;
    border-radius: 20px;
    color: white;
}

.ChatterBox_chat {
    background-color: #e4f6f8;
    /*border: 1px solid #1f163b;*/
    border-radius: 5px;
    padding: 10px 15px;
    margin: 1px 0px;
}

    .ChatterBox_chat:hover {
        background-color: #e4f6f8;
    }

.ChatterBox_sitecard {
    max-height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.ChatterBox_leftPanel {
    background-color: #24344d;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-gap: 20px;
}

.ChatterBox_leftSubPanel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.ChatterBox_rightPanel {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 6fr;
}

.ChatterBox_upperSubPanel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 2px solid #d4d4d4;
    border-left: 2px solid #d4d4d4;
}

.ChatterBox_lowerSubPanel {
    border-left: 2px solid #d4d4d4;
    padding: 1vh 1vw;
}

.ChatterBox_subcard {
    background-color: #24344d;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ChatterBox_categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1vw;
}

.ChatterBox_categoryCard {
    justify-content: center;
    padding: 1vh 1vw;
}

.ChatterBox_form {
    color: black;
    margin: 0 100px;
}

.ChatterBox_back {
    margin-right: auto;
    color: white;
    font-size: 30px;
    text-decoration: none;
}

    .ChatterBox_back:hover {
        color: white;
    }

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 991px) {
    .ChatterBox_card {
        margin: 0 50px;
        padding: 14px;
    }

    .ChatterBox_form {
        margin: 0 25px;
    }
}

@media (max-width: 770px) {
    .ChatterBox_card {
        margin: 0 0;
        padding: 14px;
    }

    .ChatterBox_subcard {
        margin: 0 0;
    }

    .ChatterBox_user_photo {
        display: none;
    }
}

html {
    font-size: 16px;
    position: relative;
    min-height: 100%;
}

input {
    border: 1px solid #ced4da;
}

.btn-danger {
    font-size: 18px;
}

.page-link {
    color: black;
}

.page-link:hover {
    color: black;
}
