@model ChatterBox.Models.Channel

<a asp-controller="Channels" asp-action="Show" asp-route-_Id="@Model.Id" class="ChatterBox-channel-link">
    <div class="d-flex align-items-center px-3 py-2 ChatterBox-channel">
        <i class="bi bi-chat me-2 fs-4"></i>
        <span class="ChatterBox-channel-name text-truncate">@Model.Name</span>
    </div>
</a>
