@model ChatterBox.Models.Channel

<a href="/Channels/Show/@Model.Id" style="text-decoration: none; background-color: black;">
    <div class="d-flex justify-content-start">
        <i class="bi bi-chat" style="margin-right: 10px"></i>
        <p>@Model.Name</p>
    </div>
</a>
