<h2>Afisare canale</h2>
<br />

@foreach (var art in ViewBag.Channels)
{
    <p>@art.Title</p>
    <p>@art.Content</p>
    <p>@art.Date</p>

    <br />
    <a class="btn btn-success" href="/Channels/Show/@art.Id">Afisare canal</a>
    <br /><br />
    <a class="btn btn-info" href="/Channels/Edit/@art.Id">Editare canal</a>
    <hr />

}

<a href="/Channels/New" class="btn btn-success">Adaugare canal</a>
<br /><br />
<a href="/Categories/Index" class="btn btn-success">Afisare categorii</a>


