@using ChatterBox.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> MyUserManager

@model Category

<div class="ChatterBox_sitecard">

    @Html.Partial("SideBar", MyUserManager.GetUserAsync(User).Result)

    <div class="ChatterBox_rightPanel">
        <div class="ChatterBox_upperSubPanel">
            <h1>Channels</h1>
            <div class="bi bi-plus-lg ChatterBox_btn_light"></div>
        </div>
        <div class="ChatterBox_upperSubPanel">
            <h1>Categories List</h1>
            <a class="bi bi-plus-lg ChatterBox_btn_light" href="/Categories/New"></a>
        </div>
        <div class="ChatterBox_lowerSubPanel"></div>
        <div class="ChatterBox_lowerSubPanel" style="padding: 1rem">
            @if (ViewBag.TempMsg != null)
            {
                <h2 class="alert-success p-3 rounded-3 text-center mb-5">@ViewBag.TempMsg</h2>
            }

            @foreach (Category _Elem in ViewBag.Categories)
            {
                <div class="card m-3 p-4" style="background: #24344d;">
                    <h2 class="mb-0" style="color: white">@_Elem.Title</h2>
                    <hr style="color: white">
                    <div class="d-flex justify-content-start">
                        <a class="btn ChatterBox_btn_dark" style="font-size: 15px;" href="/Categories/Edit/@_Elem.Id">Edit</a>
                        <form action="/Categories/Delete/@_Elem.Id" method="post">
                            <button class="btn ChatterBox_btn_del" style="font-size: 15px" type="submit">Delete</button>
                        </form>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
