@using ChatterBox.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> MyUserManager

@model ApplicationUser

@{
    string _UserName = Model.UserName;
    _UserName = _UserName.Split("@")[0];
    _UserName = _UserName[0].ToString().ToUpper() + _UserName.Substring(1);
}

<div class="ChatterBox_sitecard">

    @Html.Partial("SideBar", Model)

    <div class="ChatterBox_rightPanel">
        <div class="ChatterBox_upperSubPanel">
            <h1>Channels</h1>
            <div class="bi bi-plus-lg ChatterBox_btn_light"></div>
        </div>
        <div class="ChatterBox_upperSubPanel">
            <h1>User Information</h1>
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { AreaAttribute = "" })">
                <button type="submit" class="bi bi-box-arrow-right ChatterBox_btn_light" style="font-size: 25px;"></button>
            </form>
        </div>
        <div class="ChatterBox_lowerSubPanel"></div>
        <div class="ChatterBox_lowerSubPanel" style="padding: 1rem">
            <h2>About</h2>
            <hr />
            <p><strong>Username:</strong> <span>@_UserName</span></p>
            <p><strong>Email:</strong> <span>@Model.Email</span></p>
            @if (User.IsInRole("Admin"))
            {
                <p><strong>Role:</strong> Admin</p>
            }
            else 
            {
                <p><strong>Role:</strong> User</p>
            }
        </div>
    </div>
</div>
